body {
    background-color: #ecf0f1;
    color: #333;
    font-family: Arial, sans-serif;
}

header {
    background-color: #3498db;
}

nav {
    padding: 10px 0;
}

.navbar-brand {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

main {
    text-align: left;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section {
    margin: 20px 0;
}

ul {
    padding-left: 20px;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
